.formHelpSectionParagraph {
    font-size: 14px;
    color: var(--colors-grey700);
    letter-spacing: -.13px;
    line-height: 21px;
    margin: 0 0 var(--spacers-dp16);
}

.formHelpSectionParagraph:last-child {
    margin-bottom: 0;
}

.formHelpSectionParagraph a {
    color: inherit;
    text-decoration: underline;
}

.formHelpSectionParagraph a:hover {
    color: var(--colors-blue400);
}
